* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  height: 100vh;
  background-color: #000;
}

.child {
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.child {
  text-align: center;
}
h2 {
  color: #fff;
  padding-bottom: 3rem;
}
p {
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
}
