* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
}
.container {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 6px;
  width: 600px;
  max-width: 100%;
  background: rgb(0, 0, 0);
}
.row {
  justify-content: space-between;
  display: flex;

  align-items: center;
}
.name {
  color: rgb(255, 255, 255);
  flex: 2;
}
h1 {
  text-decoration: underline;
}
.row .form {
  padding: 1rem;
  flex: 1;
}
p {
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
}
.form .field {
  margin: 0.2rem;
  background-color: rgb(0, 0, 0);
  padding: 0.4rem;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #fff;
}
#btn {
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 0;
  font-weight: 800;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 4px 5px 4px rgb(0, 0, 0);
  padding: 0.5rem 0.8rem;
}
@media (max-width: 993px) {
  .name {
    font-size: 0.8rem;
  }
  .row {
    text-align: center;
    flex-wrap: wrap;
  }
}
#alert {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: greenyellow;
}
#alert p {
  color: red;
  font-size: 1rem;
}
#alert h4 {
  color: rgb(242, 102, 255);
}
h5 {
  color: #fff;
}
